@font-face{
    font-family: RetroComputer;
    src: url(DesignToSpecAssets/Fonts/RetroComputer/retro_computer_personal_use.ttf);
}

@font-face{
    font-family: DogicaPixel;
    src: url(DesignToSpecAssets/Fonts/Dogica/TTF/dogicapixel.ttf);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #ffffff;
}

h1{
    float: none;
    text-align: center;
    font-size: xx-large;
    margin: -1rem 0 0 0;
    font-family: RetroComputer;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #686868;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: RetroComputer;
}

#header-title{
    margin-left: 16rem;
    white-space: nowrap;
}

#axe-icon{
    width: 40px;
    height: 40px;
    background: url(DesignToSpecAssets/Assets/axe.svg) no-repeat;
    transform: translateX(-27rem);
}

#student-name{
    margin-right: 15rem;
    text-align: right;
}

#description{
    display: flex;
    flex-direction: row;
    background-color: #35363D;
    justify-content: center;
    max-height: 50rem;
}

.description-text{
    background-color: #686868;
    margin: 1rem;
    width: 40rem;
}

h2{
    margin: 1rem 3rem;
    font-family: RetroComputer;
}

p{
    margin: 1rem 3rem;
    font-family: DogicaPixel;
    line-height: 1.2;
}

.description-image{
    border: 0.5rem solid #ffffff;
    margin: 1rem;
    padding: 2rem;
    max-width: 40rem;
    max-height: 100%;
}

.description-image > img{
    max-width: 100%;
}

#item-grid{
    display: grid;
    background-color: #35363D;
}

#planks{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: right;
    margin-top: 2rem;
}

#sticks{
    grid-row: 1/2;
    grid-column: 2/2;
    justify-self: left;
    margin-top: 2rem;
}

#chests{
    grid-row: 2/2;
    grid-column: 1/2;
    justify-self: right;
    margin-bottom: 2rem;
}

#stairs{
    grid-row: 2/2;
    grid-column: 2/2;
    justify-self: left;
    margin-bottom: 2rem;
}

.item{
    display: flex;
    flex-direction: row;
}

.item > .description-image{
    background-color: #324E44;
}

.item > .description-text{
    max-width: 20rem;
}

.item > .description-image > img{
    width: 20rem;
}

footer{
    display: flex;
    flex-direction: row;
    background-image: url(DesignToSpecAssets/Assets/trees.jpg);
    background-position: 40%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    font-family: RetroComputer;
}

#cool-question{
    margin-left: 15rem;
}

#copyright-info{
    margin-right: 15rem;
    text-align: right;
}